@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --contrastColor: #E38D14;
  --hoverContrast: #D38313;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --contrast-color: #E38D14;
    --hover-contrast: #D38313;
  }
}
html{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Mirza', sans-serif;
  width: 90%;
}
h1{
  font-size: xx-large;
}
h2{
  font-size: x-large;
}
p{
  font-size: large;
}
.mirza-regular {
  font-family: 'Mirza', sans-serif;
  font-weight: 400;
}

.mirza-bold {
  font-family: 'Mirza', sans-serif;
  font-weight: 700;
}

.button-contrast {
  background-color: var(--contrastColor);
  color: var(--foreground);
  padding: 3px 0px;
  border-radius: 2rem;
  width: 100%;
  font-size: large;
  font-weight: 700;
  text-align: center;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.button-contrast:hover {
  background-color: var(--hoverContrast);
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

.input-container input {
  flex: 1;
  width: 75%;
  padding-right: 1rem;

}

.input-container input :focus {
  outline: none;
  border-color:#E38D14;
}

.input-container button {
  cursor: pointer;
}

.input-container img {
  height: 1.25rem;
  width: 1.25rem;
  margin: 0px 15px;
}

.swal-button,
.swal-button:focus,
.swal-button:active {
  outline: none;
  border: none;
  box-shadow: none;
  --tw-ring-color: transparent;
}
  .swal-button {
    outline: none;
    background-color: rgb(184, 184, 184);
    color: #ffffff;

  }