@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Mirza', sans-serif;
}

.mirza-regular {
  font-family: 'Mirza', sans-serif;
  font-weight: 400;
}

.mirza-bold {
  font-family: 'Mirza', sans-serif;
  font-weight: 700;
}

